[Unit]
Description=Process-API gunicorn daemon
After=network.target

[Service]
PermissionsStartOnly=true
Restart=on-failure
PIDFile = /run/process-api/process-api.pid
User=process-api
Group=process-api
WorkingDirectory=/opt/process-api/app
ExecStartPre = /bin/mkdir /run/process-api
ExecStartPre = /bin/chown -R process-api:process-api /run/process-api
ExecStart = /opt/process-api/venv/bin/gunicorn main:app \
            --bind 0.0.0.0:8000 \
            --pid /run/process-api/process-api.pid
ExecReload = /bin/kill -s HUP $MAINPID
ExecStop = /bin/kill -s TERM $MAINPID
ExecStopPost = /bin/rm -rf /run/process-api
PrivateTmp = true

[Install]
WantedBy=multi-user.target
