[Unit]
Description=Process-API gunicorn daemon
After=network.target

[Service]
PermissionsStartOnly=true
Restart=on-failure
PIDFile = /run/process-api.pid
WorkingDirectory=/opt/process-api/app
ExecStart = /opt/process-api/venv/bin/gunicorn main:app \
            --bind 0.0.0.0:8000 \
            --pid /run/process-api.pid \
            --log-file /var/log/process-api.log
ExecReload = /bin/kill -s HUP $MAINPID
ExecStop = /bin/kill -s TERM $MAINPID
ExecStopPost = /bin/rm -rf /run/process-api.pid
PrivateTmp = true

[Install]
WantedBy=multi-user.target
